.se_helping{
    padding-bottom: 25px;
    background-color: var(--Silver);
}
.he_text{
     padding: 85px 0;
     
}
.he_h2{
    margin: 0 140px 8px 0;
    font-size: 36px;
    font-weight: 600;
    color: var(--D_Grey);
    line-height: 44px;   
}
.he_h2 span{
    color: var(--Primary);
}
.he_p{
    color: var(--black);
}
.he_icontext{
    padding: 65px 0;
}

.he_icon img{
    margin-right: 16px;
}
.he_ctext {
    padding: 0 100px 0 0px;
}
.he_ctext h2{
    font-size: 28px;
    font-weight: 700;
    color: var(--D_Grey);
    line-height: 36px;
    
}