<section class="client co_padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="c_text">
            <h1 class="c_h1">Our Clients</h1>
            <p class="c_p m-0">We have been working with some Fortune 500+ clients</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 p-0">
          <div class="c_imge">
            <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/logo01.png" class="c_img m-0 img-fluid" alt="Nexcent">
            <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/Logo (2).png" class="c_img img-fluid" alt="Nexcent">
            <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/Logo (3).png" class="c_img img-fluid" alt="Nexcent">
            <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/Logo (4).png" class="c_img img-fluid" alt="Nexcent">
            <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/Logo (5).png" class="c_img img-fluid" alt="Nexcent">
            <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/Logo (6).png" class="c_img img-fluid" alt="Nexcent">
            <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/Logo (3).png" class="c_img img-fluid" alt="Nexcent">
          </div>
        </div>
      </div>
    </div>
  </section>