<section class="f_design co_padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="sp_img f_d_img">
            <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/pana.png" class="w-100" alt="Nexcent">
          </div>
        </div>
        <div class="offset-lg-1 col-lg-7">
          <div class="sp_text">
            <h2 class="sp_h2">How to design your site footer like we did</h2>
            <p class="sp_p">Donec a eros justo. Fusce egestas tristique ultrices. Nam tempor, augue nec tincidunt molestie, massa nunc varius arcu, at scelerisque elit erat a magna. Donec quis erat at libero ultrices mollis. In hac habitasse platea dictumst. Vivamus vehicula leo dui, at porta nisi facilisis finibus. In euismod augue vitae nisi ultricies, non aliquet urna tincidunt. Integer in nisi eget nulla commodo faucibus efficitur quis massa. Praesent felis est, finibus et nisi ac, hendrerit venenatis libero. Donec consectetur faucibus ipsum id gravida.</p>
            <a href="#" class="btn btn_cm btn_learn">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>