<section class="s_tim co_padding">
    <div class="container">
      <div class="row justify-content-center">
       <div class="col-lg-4">
        <div class="tim_img">
          <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/image 9.png" class="img-fluid" alt="Nexcent">
        </div>
       </div> 
       <div class="col-lg-8">
        <div class="tim_content">
          <p class="tim_p m-0">Maecenas dignissim justo eget nulla rutrum molestie. Maecenas lobortis sem dui, vel rutrum risus tincidunt ullamcorper. Proin eu enim metus. Vivamus sed libero ornare, tristique quam in, gravida enim. Nullam ut molestie arcu, at hendrerit elit. Morbi laoreet elit at ligula molestie, nec molestie mi blandit. Suspendisse cursus tellus sed augue ultrices, quis tristique nulla sodales. Suspendisse eget lorem eu turpis vestibulum pretium. Suspendisse potenti. Quisque malesuada enim sapien, vitae placerat ante feugiat eget. Quisque vulputate odio neque, eget efficitur libero condimentum id. Curabitur id nibh id sem dignissim finibus ac sit amet magna.</p>
          <h5 class="tim_h5">Tim Smith</h5>
          <p class="tim_p1 m-0">British Dragon Boat Racing Association</p>
          <div class="tim_img1">
            <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/logo01.png" class="tim_img1 ms-0 img-fluid" alt="Nexcent">
            <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/Logo (2).png" class="tim_img1 img-fluid" alt="Nexcent">
            <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/Logo (3).png" class="tim_img1 img-fluid" alt="Nexcent">
            <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/Logo (4).png" class="tim_img1 img-fluid" alt="Nexcent">
            <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/Logo (5).png" class="tim_img1 img-fluid" alt="Nexcent">
            <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/Logo (6).png" class="tim_img1 img-fluid" alt="Nexcent">
            <a href="#" class="btn btn_Login tim_all">Meet all customers<i class="fa-solid fa-arrow-right-long center"></i></a>
          </div>
        </div>
       </div> 
      </div>
    </div>
  </section>