<header class="header">
    <div class="container">
      <nav class="navbar navbar-expand-lg c_nav">
        <div class="container">
          <a class="navbar-brand me-0" href="#index.html">
            <div class="nav_img">
              <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/Logo.png" class="w-100" alt="Nexcent">
            </div>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav_c" aria-controls="nav_c" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse menu" id="nav_c">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active p-0"  aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-0" aria-current="page" href="#">Service</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-0" aria-current="page" href="#">Feature</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-0" aria-current="page" href="#">Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-0" aria-current="page" href="#">Testimonial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link p-0" aria-current="page" href="#">FAQ</a>
              </li>
            </ul>
            <a href="#" class="btn btn_Login">Login</a>
            <a href="#" class="btn btn_cm btn_Signup">Sign up</a>
          </div>
        </div>
      </nav>
    </div>
  </header>