<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-12">
          <div class="f_details">
            <a href="#index.html" class="text-decoration-none">
              <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/footer.png" class="img-fluid" alt="Nexcent">
            </a>
            <p class="copy">Copyright © 2020<a href="https://montasiralam.xyz/" class="text-decoration-none">Montasir Alam</a></p>
            <p class="copy_p2">All rights reserved</p>
            <div class="fd_icon">
              <ul class="list-inline">
                <li class="list-inline-item ms-0"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa-regular fa-futbol"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg col-sm-6">
          <div class="f_link">
            <h2>Company</h2>
            <ul class="list-unstyled mb-0 ">
              <li><a href="">About us</a></li>
              <li><a href="">Blog</a></li>
              <li><a href="">Contact us</a></li>
              <li><a href="">Pricing</a></li>
              <li><a href="">Testimonials</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg col-sm-6">
          <div class="f_link">
            <h2>Support</h2>
            <ul class="list-unstyled mb-0">
              <li><a href="">Help center</a></li>
              <li><a href="">Terms of service</a></li>
              <li><a href="">Legal</a></li>
              <li><a href="">Privacy policy</a></li>
              <li><a href="">Status</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div class="f_form">
            <h2>Stay up to date</h2>
            <form action method="form" class="form">
              <input type="email" placeholder="Your email address">
              <button type="submit"><i class="fa-regular fa-paper-plane"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </footer>