<section class="s_marketing co_padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="c_text system">
            <h1 class="c_h1">Caring is the new marketing</h1>
            <p class="c_p">The Nexcent blog is the best place to read about the latest membership insights, trends and more. See who's joining the community, read about how our community are increasing their membership income and lot's more.​</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
          <div class="marketing_img1">
            <div class="marketing_text text-center">
              <h4>Creating Streamlined Safeguarding Processes with OneRen</h4>
              <a href="#" class="btn btn_read">Readmore <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="marketing_img2">
            <div class="marketing_text text-center">
              <h4>What are your safeguarding responsibilities and how can you manage them?</h4>
              <a href="#" class="btn btn_read">Readmore <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="marketing_img3">
            <div class="marketing_text text-center">
              <h4>Revamping the Membership Model with Triathlon Australia</h4>
              <a href="#" class="btn btn_read">Readmore <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>