<section class="sp_pixelgrad co_padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="sp_img">
            <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/Frame 35.png" class="w-100" alt="Nexcent">
          </div>
        </div>
        <div class="offset-lg-1 col-lg-7">
          <div class="sp_text">
            <h2 class="sp_h2">The unseen of spending three years at Pixelgrade</h2>
            <p class="sp_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet justo ipsum. Sed accumsan quam vitae est varius fringilla. Pellentesque placerat vestibulum lorem sed porta. Nullam mattis tristique iaculis. Nullam pulvinar sit amet risus pretium auctor. Etiam quis massa pulvinar, aliquam quam vitae, tempus sem. Donec elementum pulvinar odio.</p>
            <a href="#" class="btn btn_cm btn_learn">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>