.sp_text{
    margin-top: 80px;
}
.sp_h2{
    margin: 0 175px 16px 0;
    font-size: 36px;
    font-weight: 600;
    color: var(--D_Grey);
    line-height: 44px;   
}
.sp_p{
    margin: 0 100px 0 0;
}
.btn_learn{
    margin-top: 30px;
    width: 151px;
    height:52px;
    padding: 14px 32px;
    border-radius: 4px;   
}