<section class="slider">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div id="c_slider" class="carousel slide">
            <div class="carousel-indicators c_ind">
              <button type="button" data-bs-target="#c_slider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#c_slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#c_slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
                <div class="row">
                  <div class="col-lg-7 col-md-7"> 
                    <div class="s_text">
                      <h1>Lessons and insights <span>from 8 years</span></h1>
                      <p>Where to grow your business as a photographer: site or social media?</p>
                      <a href="#" class="btn btn_cm btn_register">Register</a>
                    </div>
                  </div>
                   <div class="offset-lg-1 col-lg-4 col-md-5 d-md-block d-none">
                    <div class="s_img">
                      <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/banner.png" class="img-fluid" alt="Nexcent">
                    </div>
                   </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <div class="row">
                  <div class="col-lg-7 col-md-7"> 
                    <div class="s_text">
                      <h1>Lessons and insights <span>from 8 years</span></h1>
                      <p>Where to grow your business as a photographer: site or social media?</p>
                      <a href="#" class="btn btn_cm btn_register">Register</a>
                    </div>
                  </div>
                   <div class="offset-lg-1 col-lg-4 col-md-5 d-md-block d-none">
                    <div class="s_img">
                      <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/banner.png" class="img-fluid" alt="Nexcent">
                    </div>
                   </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <div class="row">
                  <div class="col-lg-7 col-md-7"> 
                    <div class="s_text">
                      <h1>Lessons and insights <span>from 8 years</span></h1>
                      <p>Where to grow your business as a photographer: site or social media?</p>
                      <a href="#" class="btn btn_cm btn_register">Register</a>
                    </div>
                  </div>
                   <div class="offset-lg-1 col-lg-4 col-md-5 d-md-block d-none">
                    <div class="s_img">
                      <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/banner.png" class="img-fluid" alt="Nexcent">
                    </div>
                   </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>