<section class="footer_top1 co_padding">
    <div class="footer_top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
          <div class="ft_text ">
            <h1 class="ft_h1">Pellentesque suscipit fringilla libero eu.</h1>
            <a href="#" class="btn btn_cm btn_ft">Get a Demo <i class="fa-solid fa-arrow-right-long"></i></a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>