<section class="s_system co_padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="c_text system">
            <h1 class="c_h1">Manage your entire community in a single system</h1>
            <p class="c_p m-0">Who is Nextcent suitable for?</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3">
          <div class="sy_single">
            <div class="sy_img mx-auto">
              <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/membership.png" class="img-fluid" alt="Nexcent">
            </div>
            <div class="sy_text text-center">
              <h2 class="sy_h2 m-0">Membership Organisations</h2>
            <p class="m-0">Our membership management software provides full automation of membership renewals and payments</p>
            </div>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-3">
          <div class="sy_single">
            <div class="sy_img mx-auto">
              <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/national.png" class="img-fluid" alt="Nexcent">
            </div>
            <div class="sy_text text-center">
              <h2 class="sy_h2 m-0">National Associations</h2>
            <p class="m-0">Our membership management software provides full automation of membership renewals and payments</p>
            </div>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-3">
          <div class="sy_single">
            <div class="sy_img mx-auto">
              <img src="https://cdn.document360.net/bb95ac2c-3cb0-4957-8d0b-a65dfbe81824/Images/Documentation/clubs.png" class="img-fluid" alt="Nexcent">
            </div>
            <div class="sy_text text-center">
              <h2 class="sy_h2 m-0">Clubs And Groups</h2>
            <p class="m-0">Our membership management software provides full automation of membership renewals and payments</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>